@import 'tailwindcss';

@theme {
  --default-font-family: 'Roboto', 'Arial', 'Noto Sans TC', '黑體-繁',
    '微軟正黑體', sans-serif;
  --spacing: 8px;
}

:root {
  --fontSize-default: 16px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
    }
  } */

html,
body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
